{% extends "base.html"%}
{% block main_content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Ashutosh Goyal</h1>
      <h2>I'm an aspiring data analyst & developer from India</h2>
      <a href="/static/resume.pdf" class="btn-about" download>Download My Resume</a>
    </div>
  </section><!-- End Hero -->
{% endblock main_content %}
